__pycache__/
Logs/
trainer_output/
.gitignore

data/train_parquet.py
data/test_parquet.py
data/validation_parquet.py

data/preprocessed_data/test_parquet.py
data/preprocessed_data/validation_parquet.py

data_ingestion.py
data_preprocessing.py
datasetMod.py
embeddings.py
modelling.py
pipeline.py
tokenization.py
training_prediction.py

README.md
