Flask==2.3.2
flask-cors==4.0.0
transformers==4.40.1
datasets==2.19.0
torch==2.2.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
regex==2024.4.16
matplotlib==3.8.4
seaborn==0.13.2
google-cloud-storage
google-auth